{% extends 'base.html.twig' %}

{% block title %}Edit BorrowBook{% endblock %}

{% block body %}
    <h1>Edit BorrowBook</h1>

    {{ include('borrow_book/_form.html.twig', {'button_label': 'Update'}) }}

    <button><a href="{{ path('app_borrow_book_index') }}" style="text-decoration: none;">Back to list</a></button>

{% endblock %}
